@import "variable";

.page-section {
    padding: 8rem 0 4rem;

    .section-head {
        margin-bottom: 4rem;
    }

    table, .card {
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
        margin-bottom: 2rem;
    }
}